@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-headings: "Fredoka", ui-sans-serif, system-ui;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace;
}
